.aes-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-align: left;
}

.h1-title {
    font-size: 4.7rem;
    font-weight: bold;
}

.alata {
    font-family: 'Alata', sans-serif;
}

.h3-desc {
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
}

.text-justify {
    text-align: justify;
}

.image-hover-effect {
    opacity: 85%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 15px rgba(125, 149, 201, 0.63);
}

.image-hover-effect:hover {
    opacity: 100%;
    box-shadow: none; /* Optionally remove shadow on hover */
    box-shadow: 0px 4px 15px rgba(156, 180, 233, 0.63);
}

.bolder-txt {
    font-weight: bolder;
}
  
.square-image {
    width: 100%;
    aspect-ratio: 1 / 1; /* Ensures the image container is square */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.work-title {
    font-size: large;
    margin-bottom: 5px !important;
}

.company-name {
    font-size: medium;
    color: #1d8cf8 !important;
    border-bottom: solid;
    border-width: 0;
    font-weight: 600;
}

.company-name:hover {
    color: #4da6ff !important;
    border-bottom: solid;
    padding-left: 2px;
    border-width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: width 0.1s ease-in-out;
}

.transparent {
    color: grey !important;
    font-family: 'Alata', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.padding-more-right {
    padding-right: 20px !important;
}

.total-years {
    font-style: italic;
}

.no-margin {
    margin: 0px;
}

.skillset {
    margin: 0px;
    color: rgb(216, 197, 112);
}

.skillset div {
    max-inline-size: fit-content;
    padding-right: 0px;
}

.skills {
    border: solid 2px;
    padding: 5px 12px;
    font-size: 0.8rem;
    text-align: center;
    margin: 0px;
    border-radius: 2rem;
    font-weight: 400;
    border-color: #df48b2d2;
    color: rgb(255, 255, 255) !important;
}

.skills:hover {
    background-color: #c91794be;
    color: rgb(255, 255, 255) !important;
}

.font-size-lg {
    font-size: large;
}

.card-works:hover {
    border: solid 2px !important;
}

.read-more, .minimize-btn, .read-more-btn.hidden {
    display: none !important;
}

.read-more.show, .minimize-btn.show, .read-more-btn.show{
    display: block !important;
}

.div-minimize {
    text-align: -webkit-center !important;
}

.icon-middle {
    vertical-align: middle;
    padding-left: 5px;
}

.nav-edu {
    justify-content: space-evenly;
    padding: 0px !important;
}

.nav-edu a {
    width: 50%;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    color: white;
    font-size: large;
}

.nav-edu a:hover {
    border-bottom: solid 2px;
}

.nav-edu .active {
    border-bottom: solid 2px;
    color:#1d8cf8;
}

.edu-camp {
    font-size: x-large !important;
    text-align: left !important;
    width: 70%;
    color: #f5ba6d !important;
}

.edu-camp span {
    font-size: large;
    color: #1d8cf8;
}

.edu-details {
    padding: 0px 10px 10px 10px;
}

.edu-details div {
    font-size: medium;
    margin: 15px;
    color: rgba(252, 246, 246, 0.904);
}

.tab-flex {
    display: flex;    
}

.tab-edu .year-edu{
    text-align: right;
    width: 30%;
    padding: 12px;
}

.edu-tot-year {
    color: rgb(121, 136, 150) !important;
    font-size: small;
    vertical-align: top;
    padding: 5px;
    font-weight: bold;
}

.icon-primary {
    color: #ff5be9;
    font-size: larger !important;
    margin-right: 10px;
}

.badges-course {
    display: flex;
    margin: 0px !important;
    margin-left: 10px !important;
}

.badges-course p {
    padding: 5px 12px;
    margin: 5px;
    color: rgb(255, 255, 255) !important;
    font-family: 'Alata';
    font-weight: 400;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    border: solid 1px rgba(197, 51, 255, 0.795);
}

.badges-course p:hover {
    background-color: rgba(197, 51, 255, 0.795);
}

.hobbies-desc {
    margin-top: -90px;
}

.hobbies-desc p {
    text-align: justify !important;
    /* font-family: none; */
}

.hobbies-desc h5 {
    font-size: 7rem;
}

.hobbies-desc h1 {
    top: 92px !important;
}

#hobbies-section .section {
    padding-top: 10%;
}

.big-icon-back {
    font-size: xx-large;
}

.tab-subcategories Table {
    display: flex !important;
    justify-content: space-between;
}

.single-line {
    border: 1px solid;
}

.mov-title {
    text-align: center;
}

.modal-mov .modal-dialog {
    max-width: 900px;
    /* transform: none; */
    transform: translate(0, 10%) !important;
    /* transition: transform 0.3s ease-out; */
}

.footer-info {
    justify-content: center;
}

.footer-info .title {
    margin: 0px !important;
}

.footer-info div {
    color: white;
}

.project-row {
    text-align: center;
}

.collage-row {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.collage-row div div {
    border: none;
}

.collage-row div div div:hover {
    opacity: 80%;
}

.collage-row h5 {
    text-align: right;
    padding-top: 5px;
}

.h5-paragraph {
    text-align: justify !important;
}

/* -- COLOR MAP --
$default:       #344675 !default;
$primary:       #e14eca !default;
$secondary:     #f4f5f7 !default;
$success:       #00f2c3 !default;
$info:          #1d8cf8 !default;
$warning:       #ff8d72 !default;
$danger:        #fd5d93 !default;
$black:         #222a42 !default;

// gradient
$default-states:       #263148 !default;
$primary-states:       #ba54f5 !default;
$success-states:       #0098f0 !default;
$info-states:          #3358f4 !default;
$warning-states:       #ff6491 !default;
$danger-states:        #ec250d !default;
$black-states:         #1d253b !default;

$background-black:           #171941 !default;
$background-states-black:    #1e1e24 !default;

// opacity
$default-opacity:      rgba(182, 182, 182, .6) !default;
$primary-opacity:      rgba(249, 99, 50, .3) !default;
$success-opacity:      rgba(24, 206, 15, .3) !default;
$info-opacity:         rgba(44, 168, 255, .3) !default;
$warning-opacity:      rgba(255, 178, 54, .3) !default;
$danger-opacity:       rgba(255, 54, 54, .3) !default; 
*/