.aes-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-align: left;
}

.h1-title {
    font-size: 4.7rem;
    font-weight: bold;
}

.h3-desc {
    font-family: 'Alata', sans-serif;
    font-size: 1.2rem;
}

.text-justify {
    text-align: justify;
}

.image-hover-effect {
    opacity: 80%;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 15px rgba(125, 149, 201, 0.63);
}

.image-hover-effect:hover {
    opacity: 100%;
    box-shadow: none; /* Optionally remove shadow on hover */
    box-shadow: 0px 4px 15px rgba(156, 180, 233, 0.63);
}

.bolder-txt {
    font-weight: bolder;
}
  
.square-image {
    width: 100%;
    aspect-ratio: 1 / 1; /* Ensures the image container is square */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  }
  